[submodule "DeepDives/GoNotes"]
	path = DeepDives/GoNotes
	url = https://github.com/maker2413/GoNotes.git
[submodule "DeepDives/KubernetesNotes"]
	path = DeepDives/KubernetesNotes
	url = https://github.com/maker2413/KubernetesNotes.git
[submodule "DeepDives/BackstageNotes"]
	path = DeepDives/BackstageNotes
	url = https://github.com/maker2413/BackstageNotes.git
[submodule "DeepDives/SQLNotes"]
	path = DeepDives/SQLNotes
	url = https://github.com/maker2413/SQLNotes.git
