.loading {
	display: none;
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.result-title a {
  font-size: 1.2em;
  text-decoration: none;
}

.result-title a:hover {
  text-decoration: underline;
}

.result-preview {
  color: #808080;
}

.resultCount {
  color: #808080;
}

.result-query {
  font-weight: bold;
}
