html, body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column;
  background: #dfdfdf;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
}

header {
  background-color: white;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  padding-left: 1px;
}

.postamble {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: white;
  position: absolute;
  text-indent: 6px;
  width: 621px;
  bottom: 0;
}

.navigation > * {
  padding-bottom: 2px;
  display: inline;
}

.notes-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  overflow-x: auto !important;
  white-space: nowrap;
}

.notes {
  max-width: 100%;
  flex-grow: 1;
  position: relative;
}

.note {
  background: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  display: inline-block;
  height: 100% !important;
  max-width: 625px;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  white-space: normal;
  width: 100%;
}

.content {
  padding: 24px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(10, 132, 255, 1);
}

a.active {
  background-color: rgba(10, 132, 255, 0.15);
}

a:hover {
  opacity: 0.5;
}

a[target="_blank"]:after {
  padding-left: 3px;
  content: url(/images/external_link.png);
}

dt {
  font-weight: bold;
}

img {
  max-width: 560px;
  max-height: 100%;
  transition: transform .5s;
}

img:hover {
  transform: scale(1.8);
}
